p{
    margin-bottom:0px !important;
}


h1 {
    font-size: 38px;
    font-weight: 600;
}
h2 {
    font-weight: 600;
    font-size: 36px;
}

h5 {
    font-weight: 400;
}

/* MENÚ ANCLAS */
#content-anclas>ul>li {
    padding-left: 20px;
    padding-right:20px;
    list-style: none;
}

.box {
    width: 300px;
    height: 250px;
    /* background-color: #ffffff; */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease, transform 0.3s ease;
}

.box:hover {
    /* background-color: #f8f9fa ; */
    /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); */
    transform: translateY(-5px); /* Mueve hacia arriba 5 píxeles en el hover */
}

.box-info {
  width: 400px;
  min-height:450px;
  /* background-color: #ffffff; */
  border-radius: 20px;
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease, transform 0.3s ease; */
}
.box-info:hover {
  /* background-color: #f8f9fa ; */
  /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); */
  /* transform: translateY(-5px); Mueve hacia arriba 5 píxeles en el hover */
}

.img-info-2 {
    background-image: url(/assets/img/product/img-info-2.png);
    background-position: bottom;
    background-repeat:no-repeat;
    background-size: 30vh;
}

/* Imágenes productos */
.bg-producto1 {
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/assets/img/product/iphone15pro.png);
}
.bg-producto2 {
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/assets/img/product/iphoneSE.png);
}
.bg-producto3 {
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(/assets/img/product/iphone14.png);
}


/* ICONOS APPLE NAVEGACIÓN */
.chapternav-item .li {
    display: inline-block;
  vertical-align: top;
  margin: 0 -0.1176470588em;
  padding: 0 20px;
}

.text-hover {
color:black;
}

.text-hover:hover {
    color: #FF6F61;
    cursor: pointer;
}

.text-hover-2 {
    color: #3a3636;
    }
    
.text-hover-2:hover {
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease, transform 0.3s ease;
}

/* SECTION NEW */
.bg-new {
    background-color: #000000;
    background-image: url(/assets/img/product/new.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12vh bottom;
    height: 40vh;
    animation: scrollAnimation 0.8s ease-in-out;
}


@keyframes scrollAnimation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  

#new{
    background-color:#000000 ;   
}

.text-bg-gradient {
    color:#7a7a7a
}

/* IPHONE ES MÁS */
.bg-info1 {
    background-color: white;
    height: 40vh;
}

.bg-info2 {
    background-color: rgb(26, 25, 25);
    height: 40vh;
}

.bg-info3 {
    background-color: white;
    height: 40vh;
}

.bg-light {
    background-color: #f8f9fa; /* O el color de fondo que prefieras */
  }
  
  .text-hover-2:hover {
    cursor: pointer;
  }

  /* BRAND VIDEO */
 
  .bg-brand-video {
    background-image: url(/assets/img/product/brand-video.jpg);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 34px; */
    text-align: left;
    padding-top: 250px;
    padding-left: 218px;
  }
  
.text-brand-2{
    display:none;
}

.btn-video a{
    color:black;
    text-decoration:none;
    background-color:#ffffff;
    width:10%;
    border-radius: 20vh;
    padding:3px 12px;
} 
.btn-video:hover a{
    background-color:#d6d6d6;
} 

.btn-video-responsive a{
    color:black;
    text-decoration:none;
    background-color:#ffffff;
    width:10%;
    border-radius: 20vh;
    padding:3px 12px;
} 

.btn-video-responsive a{
    background-color:#d6d6d6;
} 

.btn-compra a{
    color: white;
    text-decoration:none;
    background-color:#1e53ff;
    width:10%;
    border-radius: 20vh;
    padding:3px 12px;
} 
.btn-compra:hover a{
    background-color:#456ef5;
} 

/* CODEPEN */
/* Estilo adicional según tus preferencias */


/* MEDIAS */


@media screen and (min-width: 534px) {
    .bg-brand-video {
        background-image: url(/assets/img/product/brand-video.jpg);
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        /* border-radius: 34px; */
        text-align: left;
        padding-top: 180px;
        padding-left: 50px;
      }
      .bg-new {
        height: 40vh;
        background-position: 20vh bottom;
    }
    }
    

@media screen and (min-width: 768px) {
    .bg-brand-video {
        background-image: url(/assets/img/product/brand-video.jpg);
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 34px;
        text-align: left;
        padding-top: 180px;
        padding-left: 50px;
      }
      .bg-new {
        height: 60vh;
        background-position: 60vh bottom;
    }

      .text-brand-2{
        display:block;
    }
    .text-brand {
        display:none;
    }
    }